<a href="https://colab.research.google.com/github/alu230863-dev/Evaluaci-n-Diagn-stica-Pr-ctica/blob/main/EvaluacionDiagnosticaEKMM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Imprimir nombre, paterno y materno de Alumno

In [3]:
n=(input("Ingrese nombre: "))
p=(input("Ingrese apellido paterno: "))
m=(input("Ingrese apellido materno: "))
print ("Su registro fue: ",n," ",p," ",m)

Ingrese nombre: Eric
Ingrese apellido paterno: Martinez
Ingrese apellido materno: Martinez
Su registro fue:  Eric   Martinez   Martinez

Capturar 2 números decimales e imprimir Suma

In [7]:
n1=float(input("Ingrese el primer numero decimal: "))
n2=float(input("Ingrese el segundo numero decimal: "))
s=n1+n2
print ("La suma de los numeros es: ",s)

Ingrese el primer numero decimal: 1.5
Ingrese el segundo numero decimal: 3.5
La suma de los numeros es:  5.0

Calcular el área de un círculo

In [17]:
rad=float(input("Ingresa el radio del circulo: "))
pi=3.14
a=pi*(rad ** 2)
print ("El area del circulo es de: ",a)

Ingresa el radio del circulo: 8.5
El area del circulo es de:  226.865

Ejemplo de código y ventana resultante de semestre pasado.

**create table perros** *(  
  	noperro int no null,  
  	nombreperro varchar(35) not null.  
  	raza varchar (40) not null,  
  	dueno varchar (65) not null,  
  	peso int not null,  
  	edad int not null,  
  	primary key(noperro)  
	);*